*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    color: #DF2E38;
    background-color: #171717;
}
#container{
    border: 1px solid #EEEBDD;
    border-radius: 10px;
    background-color: #222831;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    word-wrap: break-word;
}
#options{
    margin-top: 15px;
    border-bottom: 1px solid #171717;
}
#question{
    font-weight: 100;
    border-bottom: 1px solid #171717;
    padding-bottom: 15px;
}
#Next{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.btn{
    font-size: larger;
    color: #222831;
    border: none;
    background-color: #EEEBDD;
    text-align: left;
    padding: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}
#score{
    flex: 1;
}
#options button{
    width: 100%;
}
#submit{
    border-radius: 0;
    padding: 5px 20px;
    margin: 15px;
}
.btn:hover{
    background-color: #eeebddba;
}
.btn:active{
    color: #EEEBDD;
    background-color: gray;
}
.red{
    background-color: #DF2E38;
}
.red:hover{
    background-color: #df2e37a6;
}
.green{
    background-color: chartreuse;
}
.green:hover{
    background-color: rgba(128, 255, 0, 0.703);
}
#end{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    font-weight: bolder;
}